/* styles.css */
.title-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .title-container h1 {
    font-size: 2.5rem;
    color: #54687c;
    margin-bottom: 10px;
  }
  
  .title-container h6 {
    font-size: 1rem;
    color: #a7b3b4;
    font-weight: normal;
  }
  